
@{
        Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CheckoutSum
@{

    string sdt = "";
    string temp = Model.khachhang.Sdt + "";
    for(int i =0;i<temp.Length;i++)
    {
        if(i>1 && i < temp.Length - 2)
        {
            sdt += "*";
        }
        else
        {
            sdt += temp[i];
        }
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify Code</title>
</head>
<body>
    <h4>Nhập Mã Xác Thực Đã Được Gửi Qua @sdt</h4>
    <form asp-action="VerifyAndCheckout" method="post">
        <input name="code" type="text" />
        <input type="hidden" asp-for="khachhang.Sdt" value="@Model.khachhang.Sdt" />
        <input type="hidden" asp-for="khachhang.Ten" value="@Model.khachhang.Ten" />
        <input type="hidden" asp-for="khachhang.Email" value="@Model.khachhang.Email" />
        <input type="hidden" asp-for="khachhang.DiaChi" value="@Model.khachhang.DiaChi" />
        <input type="hidden" asp-for="PhuongThucThanhToan" value="@Model.PhuongThucThanhToan" />
        <input type="hidden" name="bankcode" value="@ViewBag.bankcode" />
        <button type="submit" class="btn-success">Xác Nhận</button>
    </form>
</body>
</html>
