@model IEnumerable<ASP.NET_CORE_Final_2019.Models.Sanpham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home">Trang chủ</a></span> <span>Cửa hàng</span></p>
                <h1 class="mb-0 bread">Cửa hàng</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    @foreach (var item in ViewBag.ListLoaiSanPham)
                    {
                        <li><a href="/Shop/@item.metatitle">@item.Ten</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            @{ 
                int num = 0;
                foreach (var item in Model)
                {
                    num++;
                    if (ViewBag.CurrentPage * 8 - 7 <= num && num <= ViewBag.CurrentPage * 8)
                    {
                        Chitietsanpham itemDetail = ViewBag.ListChiTietSanPham.Find(item.Id);
                        Loaisanpham cate = ViewBag.ListLoaiSanPham.Find(item.IdLoaiSanPham);
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="/Shop/@cate.metatitle/@item.metatitle" class="img-prod">
                                    <img class="img-fluid" src="@item.HinhAnh" alt="Colorlib Template" style="height: 200px; width:245px;">
                                    @{ double? km = 100 - itemDetail.GiaKhuyenMai;}
                                    <span class="status">Khuyến mãi @km%</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="/Shop/@cate.metatitle/@item.metatitle">@item.Ten</a></h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            @{
                                                if (itemDetail.GiaKhuyenMai == 100)
                                                {
                                                    <p class="price">@*<span class="mr-2 price-dc"></span>*@<span class="price-sale">@itemDetail.Gia</span> VNĐ</p>
                                                }
                                                else
                                                {
                                                    double? gkm = itemDetail.Gia * itemDetail.GiaKhuyenMai / 100;
                                                    <p class="price"><span class="mr-2 price-dc">@itemDetail.Gia VNĐ</span><span class="price-sale">@gkm</span> VNĐ</p>
                                                }
                                            }

                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="/Shop/@cate.metatitle/@item.metatitle" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span><i class="ion-ios-menu"></i></span>
                                            </a>
                                            <a href="/Cart/Update/@ViewData["Session"]/@item.Id" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                        }
                                                    }
                                                }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        @{
                            if (ViewBag.Cate == false)
                            {
                                if (ViewBag.CurrentPage <= 1)
                                {
                                    <li><span>&lt;</span></li>
                                    for (int i = 1; i <= 5; i++)
                                    {
                                        if (i == 1)
                                        {
                                            <li class="active"><span>1</span></li>
                                        }
                                        else
                                        {
                                            <li><a href="/Shop/?page=@i">@i</a></li>
                                        }
                                    }
                                    <li><a href="/Shop/?page=2">&gt;</a></li>
                                }
                                else if (ViewBag.CurrentPage >= ViewBag.AllPage)
                                {
                                    dynamic tmp = ViewBag.AllPage;
                                    tmp--;
                                    <li><a href="/shop/?page=@tmp">&lt;</a></li>
                                    for (int i = ViewBag.AllPage - 4; i <= ViewBag.AllPage; i++)
                                    {
                                        if (i == ViewBag.AllPage)
                                        {
                                            <li class="active"><span>@ViewBag.AllPage</span></li>
                                        }
                                        else
                                        {
                                            <li><a href="/Shop/?page=@i">@i</a></li>
                                        }
                                    }
                                    <li><span>&gt;</span></li>
                                }
                                else
                                {
                                    if (ViewBag.CurrentPage == 2)
                                    {
                                        dynamic tmp1 = ViewBag.CurrentPage;
                                        dynamic tmp2 = ViewBag.CurrentPage;
                                        tmp1--;
                                        tmp2++;
                                        <li><a href="/shop/?page=@tmp1">&lt;</a></li>
                                        for (int i = 1; i <= 5; i++)
                                        {
                                            if (i == 2)
                                            {
                                                <li class="active"><span>2</span></li>
                                            }
                                            else
                                            {
                                                <li><a href="/Shop/?page=@i">@i</a></li>
                                            }
                                        }
                                        <li><a href="/shop/?page=@tmp2">&gt;</a></li>
                                    }
                                    else if (ViewBag.CurrentPage == ViewBag.AllPage - 1)
                                    {
                                        dynamic tmp1 = ViewBag.CurrentPage;
                                        dynamic tmp2 = ViewBag.CurrentPage;
                                        tmp1--;
                                        tmp2++;
                                        <li><a href="/shop/?page=@tmp1">&lt;</a></li>
                                        for (int i = ViewBag.AllPage - 4; i <= ViewBag.AllPage; i++)
                                        {
                                            if (i == ViewBag.CurrentPage)
                                            {
                                                <li class="active"><span>@i</span></li>
                                            }
                                            else
                                            {
                                                <li><a href="/Shop/?page=@i">@i</a></li>
                                            }
                                        }
                                        <li><a href="/shop/?page=@tmp2">&gt;</a></li>
                                    }
                                    else
                                    {
                                        dynamic tmp1 = ViewBag.CurrentPage;
                                        dynamic tmp2 = ViewBag.CurrentPage;
                                        tmp1--;
                                        tmp2++;
                                        <li><a href="/shop/?page=@tmp1">&lt;</a></li>
                                        for (int i = ViewBag.CurrentPage - 2; i <= ViewBag.CurrentPage + 2; i++)
                                        {
                                            if (i == ViewBag.CurrentPage)
                                            {
                                                <li class="active"><span>@i</span></li>
                                            }
                                            else
                                            {
                                                <li><a href="/Shop/?page=@i">@i</a></li>
                                            }
                                        }
                                        <li><a href="/shop/?page=@tmp2">&gt;</a></li>
                                    }
                                }
                            }
                            else
                            {
                                if (ViewBag.CurrentPage <= 1)
                                {
                                    <li><span>&lt;</span></li>
                                    for (int i = 1; i <= ViewBag.AllPage; i++)
                                    {
                                        if (i == 1)
                                        {
                                            <li class="active"><span>1</span></li>
                                        }
                                        else
                                        {
                                            <li><a href="/Shop/@ViewBag.metatitle/?page=@i">@i</a></li>
                                        }
                                    }
                                    if (ViewBag.AllPage == 1)
                                    {
                                        <li><span>&gt;</span></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Shop/@ViewBag.metatitle/?page=2">&gt;</a></li>
                                    }
                                }
                                else if (ViewBag.CurrentPage >= ViewBag.AllPage)
                                {

                                    if (ViewBag.AllPage == 1)
                                    {
                                        <li><span>&lt;</span></li>
                                        <li class="active"><span>@ViewBag.AllPage</span></li>
                                        <li><span>&gt;</span></li>
                                    }
                                    else if (ViewBag.AllPage == 2)
                                    {
                                        dynamic tmp = ViewBag.AllPage;
                                        tmp--;
                                        <li><a href="/Shop/@ViewBag.metatitle/?page=@tmp">&lt;</a></li>
                                        <li><a href="/Shop/@ViewBag.metatitle/?page=1">1</a></li>
                                        <li class="active"><span>@ViewBag.AllPage</span></li>
                                        <li><span>&gt;</span></li>
                                    }
                                    else
                                    {
                                        dynamic tmp = ViewBag.AllPage;
                                        tmp--;
                                        <li><a href="/Shop/@ViewBag.metatitle/?page=@tmp">&lt;</a></li>
                                        <li><a href="/Shop/@ViewBag.metatitle/?page=1">1</a></li>
                                        <li><a href="/Shop/@ViewBag.metatitle/?page=2">2</a></li>
                                        <li class="active"><span>@ViewBag.AllPage</span></li>
                                        <li><span>&gt;</span></li>
                                    }
                                }
                                else
                                {
                                    dynamic tmp1 = ViewBag.CurrentPage;
                                    dynamic tmp2 = ViewBag.CurrentPage;
                                    tmp1--;
                                    tmp2++;
                                    <li><a href="/Shop/@ViewBag.metatitle/?page=@tmp1">&lt;</a></li>
                                    for (int i = ViewBag.CurrentPage - 1; i <= ViewBag.CurrentPage + 1; i++)
                                    {
                                        if (i == ViewBag.CurrentPage)
                                        {
                                            <li class="active"><span>@i</span></li>
                                        }
                                        else
                                        {
                                            <li><a href="/Shop/@ViewBag.metatitle/?page=@i">@i</a></li>
                                        }
                                    }
                                    <li><a href="/Shop/@ViewBag.metatitle/?page=@tmp2">&gt;</a></li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
 </section>

