@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    double? total = 0;
    double? total2 = 0;
    double? gia1donvi = 0;
    bool flag = false;
}
<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home">Trang chủ</a></span> <span>Giỏ hàng</span></p>
                <h1 class="mb-0 bread">Giỏ hàng của tôi</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá bán(1kg hoặc 1 ly)</th>
                                <th>Số lượng (gram/ly)</th>
                                <th>Tổng cộng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Chitietdonhang item in Model)
                            {
                                if (item.SoLuong != 0)
                                {
                                    flag = true;
                                    total = total + item.Gia;
                                    Sanpham ti = ViewBag.SanPham.Find(item.IdSanPham);
                                    Decimal soluong = 0;
                                    if (ti.IdLoaiSanPham == 4)
                                    {
                                        soluong = (Decimal)item.SoLuong;
                                    }
                                    else
                                    {
                                        soluong = (Decimal)item.SoLuong / 100;
                                    }
                                    Chitietsanpham tu = ViewBag.ChiTietSanPham.Find(item.IdSanPham);
                                    //gia1donvi = (Double?)Math.Round(((Decimal)item.Gia / 23000 / soluong), 2);
                                    //total2 = total2 + (gia1donvi * (Double?)soluong);
                                    <tr class="text-center">
                                        <td class="product-remove"><a asp-controller="Cart" asp-action="Remove" asp-route-Id="@item.IdSanPham"><span class="ion-ios-close"></span></a></td>

                                        <td class="image-prod"><div class="img" style="background-image:url('@ti.HinhAnh');"></div></td>

                                        <td class="product-name">
                                            <h3>@ti.Ten</h3>
                                        </td>

                                        <td class="price"> @string.Format("{0:#,0.####}", (tu.Gia * tu.GiaKhuyenMai) / 100) VND</td>

                                        <td class="quantity">
                                            <div class="input-group mb-3">
                                                <input type="text" name="quantity" class="quantity form-control input-number" value="@item.SoLuong" disabled min="1" max="100">
                                            </div>
                                        </td>

                                        <td class="total"> @string.Format("{0:#,0.####}", item.Gia) VND</td>
                                    </tr>
                                }
                                //total2 = (Double?)Math.Round((Decimal)total / 23000, 2);
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            @*<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Estimate shipping and tax</h3>
                        <p>Enter your destination to get a shipping estimate</p>
                        <form action="#" class="info">
                            <div class="form-group">
                                <label for="">Country</label>
                                <input type="text" class="form-control text-left px-3" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="country">State/Province</label>
                                <input type="text" class="form-control text-left px-3" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="country">Zip/Postal Code</label>
                                <input type="text" class="form-control text-left px-3" placeholder="">
                            </div>
                        </form>
                    </div>
                    <p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
                </div>*@
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Chi Tiết</h3>
                    <p class="d-flex">
                        <span>Giỏ Hàng</span>
                        <span> @string.Format("{0:#,0.####}", total) VND</span>
                    </p>
                    <p class="d-flex">
                        <span>Phí Giao Hàng</span>
                        <span>0 VND (free ship )</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span> @string.Format("{0:#,0.####}", total) VND</span>
                    </p>
                </div>
                <p><a onclick='test()' class="btn btn-primary py-3 px-4">Tiến Hành Thanh Toán</a></p>
            </div>
        </div>
    </div>
</section>

<!--<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="Enter email address">
                        <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>-->
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


<script>
    function test() {
        var c = "True";
        if (c == '@flag') {
            window.location.href="/Checkout"
        }
        else {
            alert('Giỏ Hàng Trống');
        }
    }
    //$(document).ready(function () {

    //    var quantitiy = 0;
    //    $('.quantity-right-plus').click(function (e) {

    //        // Stop acting like a button
    //        e.preventDefault();
    //        // Get the field name
    //        var quantity = parseInt($('#quantity').val());

    //        // If is not undefined

    //        $('#quantity').val(quantity + 1);


    //        // Increment

    //    });

    //    $('.quantity-left-minus').click(function (e) {
    //        // Stop acting like a button
    //        e.preventDefault();
    //        // Get the field name
    //        var quantity = parseInt($('#quantity').val());

    //        // If is not undefined

    //        // Increment
    //        if (quantity > 0) {
    //            $('#quantity').val(quantity - 1);
    //        }
    //    });

    //});
</script>
