@model IEnumerable<ASP.NET_CORE_Final_2019.Models.Sanpham>
@using ASP.NET_CORE_Final_2019.Models

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="background-image:url('/images/p9.jpg')">Sản Phẩm</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Id Sản Phẩm
                                </th>
                                <th>
                                    Tên Sản Phẩm
                                </th>
                                <th>
                                    Loại Sản Phẩm
                                </th>
                                <th>
                                    Nhà Cung Cấp
                                </th>
                                <th>
                                    Trạng Thái
                                </th>
                                <th>
                                    Hình Ảnh
                                </th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        Loaisanpham loaisanpham = ViewBag.ListLoaiSanPham.Find(item.IdLoaiSanPham);
                                        Nhacungcap nhacungcap = ViewBag.ListNhaCungCap.Find(item.IdNhaCungCap);
                                        ViewBag.IFSanpham.updateMetatitle(item.Id, FriendlyURLHelper.GetFriendlyTitle(item.Ten)); // dong lai sau khi xong
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Ten</td>
                                            <td>@loaisanpham.Ten</td>
                                            <td>@nhacungcap.Ten</td>
                                            <td>@item.TrangThai</td>
                                            <td><img src="@item.HinhAnh" style="width:50%"></td>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-warning" ><a asp-action="Edit" asp-route-Id="@item.Id">Sửa</a></button>
                                                <button class="btn btn-light"><a asp-action="Detail" asp-route-Id="@item.Id">Chi Tiết</a></button>
                                                <button class="btn btn-danger"><a asp-action="Delete" asp-route-Id="@item.Id">Xóa</a></button>
                                            </td>
                                        </tr>
                                    }
                                        <tr>
                                            <td>
                                                <button>
                                                    <a asp-action="Create">
                                                        Thêm Sản Phẩm Mới
                                                    </a>
                                                </button>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>